<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{meta_title}}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}">

    {{ghost_head}}
  </head>
  <body>
    <header class="container site-header">
      <a href="/">
        <h1 class="site-heading--main">{{@blog.title}}</h1>
      </a>

      <h2 class="site-heading--sub">{{@blog.description}}</h2>
    </header>

    <div class="container site-container">
      <main>
        {{{ body }}}
      </main>

      <aside class="sidebar">
        <section class="sidebar-section">
          <h2 class="sidebar-heading">About me!</h2>
          <p>I'm a code writer and a web enthusiast. Love photographing and cycling. </p>
        </section>

        <section class="sidebar-section">
          <h2 class="sidebar-heading">Tags</h2>
          <ul id="site-tag-list">
          </ul>
          <script>
           fetch(ghost.url.api('tags', {
             limit: 'all',
             include: 'count.posts',
             order: 'count.posts DESC'
           })).then(function (data) {
             return data.json();
           }).then(function (data) {
             console.log(data)
             const tagList = document.getElementById('site-tag-list');

             let tagFrag = document.createDocumentFragment();

             data.tags.forEach(function (tag) {
               let li = document.createElement('li');
               let anchor = document.createElement('a');
               anchor.setAttribute('href', '/tag/' + tag.slug);

               anchor.appendChild(document.createTextNode(tag.name));

               li.appendChild(anchor);
               tagFrag.appendChild(li);
             });

             tagList.appendChild(tagFrag);
           });
          </script>
        </section>
      </aside>
    </div>

    <footer class="site-footer">
      <div class="container site-footer--content">
        &copy; 2018 Tri Nguyen
      </div>
      {{ghost_foot}}
    </footer>
  </body>
</html>
