<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{meta_title}}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}">

    {{ghost_head}}
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));</script>

    <header class="container site-header">
      <a href="/">
        <h1 class="site-heading--main">{{@blog.title}}</h1>
      </a>

      <h2 class="site-heading--sub">{{@blog.description}}</h2>
    </header>

    <div class="container site-container">
      <main>
        {{{ body }}}
      </main>

      <aside class="sidebar">
        <section class="sidebar-section">
          <h2 class="sidebar-heading">About me!</h2>
          <p>I'm Tri Nguyen. A Norwegian code writer and web enthusiast. I currently work as a software developer at Telenor. However, this site is a <strong>personal</strong> site and opinions expressed are my own and do not represent my employers.</p>
          <p>Love photographing and cycling. And puppies.</p>
        </section>

        <section class="sidebar-section">
          <h2 class="sidebar-heading">Tags</h2>
          <ul id="site-tag-list"></ul>
        </section>

        <section class="sidebar-section">
          <h2 class="sidebar-heading">Me on the Internet</h2>
          <a class="social-icon" href="https://instagram.com/trimn/"><i class="fab fa-instagram"></i></a>
          <a class="social-icon social-icon--dribbble" href="https://dribbble.com/trimn/"><i class="fab fa-dribbble"></i></a>
          <a class="social-icon social-icon--flickr" href="https://flickr.com/itmn/"><i class="fab fa-flickr"></i></a>
          <a class="social-icon social-icon--github" href="https://github.com/tmn/"><i class="fab fa-github"></i></a>
          <a class="social-icon social-icon--strava" href="https://www.strava.com/athletes/3456858?utm_campaig=athlete_share&utm_content=3456858&utm_medium=widget&utm_source=tmn.io"><i class="fab fa-strava"></i></a>
          <a class="social-icon social-icon--twitter" href="https://twitter.com/itmn/"><i class="fab fa-twitter"></i></a>
        </section>
      </aside>
    </div>

    <footer class="site-footer">
      <div class="container site-footer--content">
        &copy; 2018 Tri Nguyen
      </div>

      <script>
       fetch(ghost.url.api('tags', {
         limit: 'all',
         include: 'count.posts',
         order: 'count.posts DESC'
       })).then(function (data) {
         return data.json();
       }).then(function (data) {
         console.log(data)
         const tagList = document.getElementById('site-tag-list');

         let tagFrag = document.createDocumentFragment();

         data.tags.forEach(function (tag) {
           let li = document.createElement('li');
           let anchor = document.createElement('a');
           anchor.setAttribute('href', '/tag/' + tag.slug);

           anchor.appendChild(document.createTextNode(tag.name));

           li.appendChild(anchor);
           tagFrag.appendChild(li);
         });

         tagList.appendChild(tagFrag);
       });
      </script>

      {{ghost_foot}}
    </footer>
  </body>
</html>
